header{
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    border-color: #cccccc;
    margin:0px 0px 10px 0px;
    width: 100%;

    }

h1{
    background-color: #4aaaa5;
    padding: 25px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px 0px 23.9%
}

h2{
    color: #4aaaa5;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer{
    background-color: #666666;
    text-align:center;
    clear: both;
    padding: 25px;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    height: 50px
    }

body{
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #ffffff;
    border-color: #dddddd;
    color: #777777;
    background-image: url(../images/fishnets-and-hearts.png)
}

button {
        background-color: #4aaaa5;
        border: none;
        color: white;
        padding: 10px 10px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
      }


.Message{
    padding: 50px;
    margin: 50px 50px -100px 100px;
    border: 10px;
    background-color: #ffffff
}

.Links{
    float: right;
    margin: 0px 23% 0px 0px
}


input{
    width: 700px;
    padding: 5px
}

textarea{
    resize: none;
    padding: 5px;
    width: 700px;
    height: 200px
}

.AboutMe{
    padding: 50px;
    margin: 50px 50px -100px 100px;
    border: 10px;
    background-color: #ffffff;
}

a:visited {
     color: #777777;
}

input{
    margin: 5px 5px 10px 0px
}

.container {
    position: relative;
    width: 35%;
    margin: 10px;
    float: left; 
/* Cant get images to stay in white space */
}

.container img{
    width:100%;
    height: auto;
}

.container .btn {
    position: absolute;
    bottom: -9%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%
}
.container .btn:hover {
  background-color: black;
}


#MyFace{
    height: 300px;
    width: 250px;
    margin: 20px;
    float: left
}

.content{
    width: 960px;
    margin-left: 250px;
    min-height: calc(100vh - 70px);
}